@font-face {
    font-family: Chevin;
    src: url("fonts/ChevinLight.otf") format("opentype");
}

@font-face {
    font-family: Chevin;
    font-style: italic;
    src: url("fonts/ChevinLightItalic.otf") format("opentype");
}

@font-face {
    font-family: Chevin;
    font-weight: bold;
    src: url("fonts/ChevinDemiBold.otf") format("opentype");
}

@font-face {
    font-family: Chevin;
    font-style: italic;
    font-weight: bold;
    src: url("fonts/ChevinBoldItalic.otf") format("opentype");
}

body {
    font-family: Chevin, Helvetica, Arial, sans-serif;
}

#sub {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #3366cc;
    font-style: italic;
}

li {
    padding-bottom: 10px;
}

img {
    max-width: 95vw;
}
