body {
    font-family: Helvetica, Arial, sans-serif;
}

#sub {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #3366cc;
    font-style: italic;
}

li {
    padding-bottom: 10px;
}

img {
    max-width: 95vw;
}
