@font-face {
    font-family: ChevinPro;
    font-weight: 100;
    src: url("fonts/Chevin_Pro_Thin.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 100;
    font-style: italic;
    src: url("fonts/Chevin_Pro_Thin_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 400;
    src: url("fonts/Chevin_Pro_Light.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 400;
    font-style: italic;
    src: url("fonts/Chevin_Pro_Light_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 500;
    src: url("fonts/Chevin_Pro_Medium.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 500;
    font-style: italic;
    src: url("fonts/Chevin_Pro_Medium_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 600;
    src: url("fonts/Chevin_Pro_DemiBold.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 600;
    font-style: italic;
    src: url("fonts/Chevin_Pro_DemiBold_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 700;
    src: url("fonts/Chevin_Pro_Bold.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 700;
    font-style: italic;
    src: url("fonts/Chevin_Pro_Bold_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 800;
    src: url("fonts/Chevin_Pro_ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 800;
    font-style: italic;
    src: url("fonts/Chevin_Pro_ExtraBold_Italic.otf") format("opentype");
}

body {
    font-family: ChevinPro, Helvetica, Arial, sans-serif;
}

#sub {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #3366cc;
    font-style: italic;
}

li {
    padding-bottom: 10px;
}

img {
    max-width: 95vw;
}
