@font-face {
    font-family: ChevinPro;
    font-weight: 100;
    src: url("../fonts/Chevin_Pro_Thin.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Chevin_Pro_Thin_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 400;
    src: url("../fonts/Chevin_Pro_Light.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Chevin_Pro_Light_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 500;
    src: url("../fonts/Chevin_Pro_Medium.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Chevin_Pro_Medium_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 600;
    src: url("../fonts/Chevin_Pro_DemiBold.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Chevin_Pro_DemiBold_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 700;
    src: url("../fonts/Chevin_Pro_Bold.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Chevin_Pro_Bold_Italic.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 800;
    src: url("../fonts/Chevin_Pro_ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: ChevinPro;
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Chevin_Pro_ExtraBold_Italic.otf") format("opentype");
}

:root {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ChevinPro, Helvetica, Arial, sans-serif;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

div#header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: white;

    img#dropdown {
        max-height: 60px;
        max-width: 60px;
        margin: 20px;
        content: url("./icons/menu.svg");
        cursor: pointer;
    }

    img#dropdown.close {
        content: url("./icons/close.svg");
    }

    img#logo {
        content: url("./logos/banner.png");
        max-height: 60px;
        margin: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - 20px));
    }

    div#menu {
        position: absolute;
        left: 0px;
        top: 90px;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
        transition: transform 500ms ease-in-out;

        a.menu-link {
            display: block;
            font-size: 30px;
            color: var(--bold-colour);
            text-decoration: none;
            padding: 10px 20px;
        }
    }

    div#menu.active {
        transform: none;
    }

    select#version-select {
        background-color: white;
        float: right;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
        width: 60px;
        margin: 30px 20px;
    }
}

div#margin {
    height: 50px;
    width: 100%;
}

div#homepage {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
}

div#content {
    position: absolute;
    top: 125px;
    left: 0px;
    width: 100%;

    div.section-flex {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }

    div.section-flexbox {
        display: flex;
        box-sizing: border-box;
        width: calc(50% - 20px);
        border-radius: 10px;
        border: 3px solid;
        margin: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        a.section-link {
            width: 100%;
            color: inherit;
        }
    }

    div.section-flexbox.homepage-flexbox {
        width: calc(25% - 20px);
    }

    div.section-flexbox:not(.disabled):hover {
        background-color: #eeeeee;
    }

    div.section-flexbox.disabled {
        background-color: lightgray;

        a.section-link {
            pointer-events: none;
        }
    }
}

div#page {
    position: absolute;
    top: 100px;
    left: 0px;
    width: calc(100% - 16px);
    margin: 8px;
}

div.feedback-page {
    text-align: center;
}

div#footer {
    height: 1em;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    background-color: white;
    text-align: center;

    a#prev-link, a#next-link {
        font-size: 18px;
        text-decoration: none;
        color: var(--button-background);
    }

    a#prev-link.disabled, a#next-link.disabled {
        pointer-events: none;
        color: grey;
    }

    a#prev-link {
        float: left;
    }

    a#next-link {
        float: right;
    }
}

div#homepage-carousel {
    padding: 50px;
    height: calc(100vh - 236px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    div.carousel-item {
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-wrap: pretty;
        height: 100%;

        h1.carousel-header {
            font-size: 50px;
        }

        span.highlight {
            display: inline-block;
            background-size: 200%;
            background-image: linear-gradient(to right, transparent 50%, lightblue 50%);
        }
    }

    div.carousel-item.active {
        animation: fadeIn 500ms forwards;
        display: flex;
        flex-direction: column;
    }

    div#bottom {
        text-align: center;

        input.q-button {
            background-color: #e59800;
            margin: auto;
        }

        input.q-button:hover {
            background-color: #ce8800;
        }

        a.explore-link {
            font-size: 20px;
        }
    }
}

a {
    color: #3366cc;
}

img {
    max-height: 75vh;
    max-width: 75vw;
}

img:not(.icon):not(#logo):not(.no-zoom) {
    cursor: zoom-in;
}

.no-underline {
    text-decoration: none !important;
}

.centred {
    text-align: center;
}

.icon {
    height: 25px;
    padding-right: 5px;
    vertical-align: top;
}

.keyword {
    color: blue;
}

.function {
    color: hotpink;
}

.number {
    color: lightseagreen;
}

.string {
    color: #e47d00;
}

.comment {
    color: grey;
}

.error {
    color: #ed4337;
}

.valid {
    color: #3cb043;
}

.other {
    color: darkgoldenrod;
}

.override {
    color: black;
}

p.definition,
p.code,
p.question,
p.diagram,
p.table,
p.graph {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.code code, span.answer code {
    font-family: 'Courier New', Courier, monospace;
}

b {
    text-decoration: underline;
}

.blue {
    --bold-colour: #3c649f;
    --button-background: #30507f;
    --button-bg-accent: #243c5f;
}

.turquoise {
    --bold-colour: #288f84;
    --button-background: #38948b;
    --button-bg-accent: #2c766f;
}

.green {
    --bold-colour: #3b8358;
    --button-background: #35754f;
    --button-bg-accent: #2f6846;
}

.yellow {
    --bold-colour: #cc8700;
    --button-background: #e59800;
    --button-bg-accent: #ce8800;
}

.orange {
    --bold-colour: #ed7117;
    --button-background: #ee7f2e;
    --button-bg-accent: #d67229;
}

.brown {
    --bold-colour: #744926;
    --button-background: #815b3b;
    --button-bg-accent: #67482f;
}

.pink {
    --bold-colour: #e55ea2;
    --button-background: #ff69b4;
    --button-bg-accent: #e76eab;
}

.purple {
    --bold-colour: #9e268a;
    --button-background: #8e227c;
    --button-bg-accent: #7e1e6e;
}

b {
    color: var(--bold-colour)
}

p.definition strong {
    color: red;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

span.answer.show {
    animation: fadeIn 1000ms;
}

span.answer:not(.show) {
    display: none;
}

input.q-button {
    background-color: var(--button-background);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 200ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input.q-button:hover {
    background-color: var(--button-bg-accent);
}

p.summary-question {
    margin-bottom: 20px;
}

p#sort {
    font-size: 20px;
    padding: 20px 0px;

    span#select {
        padding: 10px;

        span {
            cursor: pointer;
            padding: 10px;
            color: lightgrey;
            transition: color 500ms, background-color 500ms;
            background-color: white;
            border-radius: 5px;
        }

        .active {
            color: black;
            background-color: #ffa900;
        }

        span:not(.active):hover {
            background-color: #ffd47f;
            color: darkgrey;
        }
    }
}

table {
    border: 2px solid black;
    
    th, td {
        border: 1px solid black;
        text-align: left;
        padding: 5px;
    }
}

.best {
    color: #3cb043
}

.mid {
    color: darkgoldenrod;
}

.worst {
    color: #ed4337;
}

code.small-code {
    font-size: 16px;
}

div#page.glossary {
    p.definition {
        animation: fadeIn 500ms;
    }
}

div#page:has(> div#revision-questions) {
    top: 125px;
    text-align: center;
    border: 3px solid var(--button-background);
    border-radius: 10px;
    width: calc(100% - 22px);
    box-shadow: color-mix(in srgb, var(--button-bg-accent) 50%, transparent) 0px 0px 5px 5px;

    h1#score {
        color: var(--bold-colour);
    }
}

div#revision-questions {
    padding: 20px;

    * {
        margin-left: auto;
        margin-right: auto;
    }

    div.rq:not(.show) {
        display: none;
    }

    div.rq.show {
        animation: fadeIn 1000ms;
    }

    span.pretext {
        display: block;
    }

    span.question {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
    }

    textarea.rq-textbox {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        resize: none;
        font-family: inherit;
        font-size: 16px;
        margin-bottom: 16px;
    }

    input.rq-checkbox {
        margin-right: 5px;
        accent-color: var(--button-background);
        height: 18px;
        width: 18px;
    }

    span.rq-answer:not(.show), span.rq-answer-text:not(.show) {
        display: none;
    }

    span.rq-answer.show, span.rq-answer-text.show {
        display: block;
        animation: fadeIn 1000ms;
        text-align: left;
    }

    p.explain-text {
        text-align: left;
    }

    input.rq-button {
        margin-top: 16px;
    }
}

input.copybtn {
    width: 15px;
    height: 20px;
    background-image: url("icons/copy.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-color: white;
    margin-left: 5px;
}

input.copybtn.donebtn {
    background-image: url("icons/done.svg");
}

input.copybtn:hover {
    filter: brightness(200%);
}

p.definition i a {
    margin-right: 5px;
}

ul.less-padding-left, ol.less-padding-left {
    padding-left: 25px;
}

img.img-render {
    image-rendering: pixelated;
}

.no-bold {
    font-weight: normal;
}

.overbar {
    text-decoration: overline;
}

ul.spaced-out li {
    padding-bottom: 20px;
}

.red {
    color: red;
}

div.feedback-link {
    display: flex;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    border: 3px solid black;
    margin: 10px auto;
    padding: 10px;

    a {
        width: 100%;
        color: inherit;

        img {
            max-height: 80px;
            float: left;
            margin: 10px;
        }

        h3, p {
            height: 30px;
            margin: 10px 0px;
        }
    }
}

div#content.error-404 {
    margin: 8px;
    text-align: center;
    width: calc(100% - 16px);
    text-wrap: pretty;
}

h1#error-404-heading {
    font-size: 100px;
    color: red;
}

h2#error-404-subtitle {
    font-size: 50px;
}

h3#error-404-text {
    font-weight: normal;
    font-size: 30px;
}

@media (max-width: 999px) {
    div#content div.section-flexbox {
        width: calc(100% - 20px);
    }

    div#content div.section-flexbox.homepage-flexbox {
        width: calc(50% - 20px);
    }

    h1#error-404-heading {
        font-size: 75px;
    }

    h2#error-404-subtitle {
        font-size: 30px;
    }
    
    h3#error-404-text {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    div#header img#logo {
        content: url("./logos/square.png");
    }

    h1#error-404-heading {
        font-size: 50px;
    }

    h2#error-404-subtitle {
        font-size: 20px;
    }
    
    h3#error-404-text {
        font-size: 16px;
    }

    div#content div.section-flexbox.homepage-flexbox {
        width: calc(100% - 20px);
    }

    div#homepage div#homepage-carousel div.carousel-item h1.carousel-header {
        font-size: 30px;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes highlight {
    from {background-position: 0;}
    to {background-position: -100%;}
}